.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #5F2630;
  color: #fff;
  padding-top: 76px;
  min-width: 360px;
}
body h1, body h2, body h3 {
  color: #C7AB77;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  text-transform: uppercase;
}
body p {
  margin-bottom: 0;
}

header {
  height: 76px;
  background-color: #C7AB77;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
header .h3 a {
  font-family: "Viaoda Libre", serif;
  text-decoration: none;
  color: #5F2630;
  font-weight: 100;
  text-transform: uppercase;
}

main h1 {
  margin-top: 60px;
}

section {
  margin-top: 60px;
}

#dainput {
  padding-top: 60px;
  padding-bottom: 60px;
}
#dainput p {
  margin-bottom: 20px;
}
#dainput label {
  margin-bottom: 5px;
}
#dainput select, #dainput input {
  font-size: 20px;
  padding: 15px 20px;
  background-color: #743944;
  border: 1px solid #C7AB77;
  border-radius: 15px;
  margin-right: 15px;
  color: #fff;
}
#dainput input {
  padding: 14px 20px;
  width: 110px;
}
#dainput .calculate {
  margin-top: 20px;
  background-color: rgb(199, 171, 119);
  background-image: linear-gradient(110deg, rgb(221, 204, 173), rgb(199, 171, 119));
  font-size: 17px;
  padding: 16px 36px;
  border-radius: 40px;
  border: none;
}
#dainput .calculate:hover {
  background: rgb(199, 171, 119);
  cursor: pointer;
}

.astar {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 800px;
}
.astar .tcard {
  position: absolute;
}

.tcard {
  transition: all 0.1s ease;
  border: 1px solid #C7AB77;
  background-color: #743944;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 5px;
  border-radius: 10px;
  width: 60px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tcard:hover {
  transform: scale(2);
  z-index: 1;
}
.tcard.tcard_gray {
  background-color: #C7AB77;
  color: #5F2630;
}
.tcard.tcard_gray .ordernumber, .tcard.tcard_gray .romulus, .tcard.tcard_gray .rstring {
  color: #5F2630;
}
.tcard .ordernumber {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 10px;
  color: #C7AB77;
  line-height: 7px;
}
.tcard .romulus {
  font-size: 15px;
  font-weight: bold;
}
.tcard .rstring {
  font-size: 10px;
}
.tcard .cimg {
  width: 38px;
  height: 65px;
  border-radius: 2px;
}
.tcard#r01 {
  left: 175px;
  top: 260px;
}
.tcard#r02 {
  left: 330px;
  top: 175px;
}
.tcard#r03 {
  left: 485px;
  top: 260px;
}
.tcard#r04 {
  left: 175px;
  top: 420px;
}
.tcard#r05 {
  left: 330px;
  top: 515px;
}
.tcard#r06 {
  left: 485px;
  top: 420px;
}
.tcard#r07 {
  left: 15px;
  top: 510px;
}
.tcard#r08 {
  left: 625px;
  top: 510px;
}
.tcard#r09 {
  left: 330px;
  top: 670px;
}
.tcard#r10 {
  left: 15px;
  top: 145px;
}
.tcard#r11 {
  left: 625px;
  top: 145px;
}
.tcard#r12 {
  left: 330px;
  top: 15px;
}
.tcard#r13 {
  left: 250px;
  top: 210px;
}
.tcard#r14 {
  left: 410px;
  top: 210px;
}
.tcard#r15 {
  left: 330px;
  top: 340px;
}

.tcard.axisyellow {
  box-shadow: 0 0 0 5px #cccc00;
}
.tcard.axisgreen {
  box-shadow: 0 0 0 5px #0a8d64;
}
.tcard.axisblue {
  box-shadow: 0 0 0 5px #054f95;
}
.tcard.axisviolet {
  box-shadow: 0 0 0 5px #cb00b5;
}

.akarma {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 800px;
}
.akarma .tcard {
  position: absolute;
}
.akarma .tcard#k13 {
  left: 275px;
  top: 200px;
}
.akarma .tcard#k14 {
  left: 370px;
  top: 200px;
}
.akarma .tcard#k15 {
  left: 322px;
  top: 25px;
}
.akarma .tcard#k16 {
  left: 50px;
  top: 160px;
}
.akarma .tcard#k17 {
  left: 590px;
  top: 160px;
}
.akarma .tcard#k18 {
  left: 190px;
  top: 300px;
}
.akarma .tcard#k19 {
  left: 455px;
  top: 300px;
}
.akarma .tcard#k20 {
  left: 50px;
  top: 450px;
}
.akarma .tcard#k21 {
  left: 590px;
  top: 450px;
}
.akarma .tcard#k22 {
  left: 275px;
  top: 390px;
}
.akarma .tcard#k23 {
  left: 370px;
  top: 390px;
}
.akarma .tcard#k24 {
  left: 322px;
  top: 575px;
}

.ashadow {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 700px;
}
.ashadow .tcard {
  position: absolute;
}
.ashadow .tcard#s01 {
  left: 185px;
  top: 95px;
}
.ashadow .tcard#s02 {
  left: 270px;
  top: 50px;
}
.ashadow .tcard#s03 {
  left: 360px;
  top: 50px;
}
.ashadow .tcard#s04 {
  left: 450px;
  top: 95px;
}
.ashadow .tcard#s05 {
  left: 540px;
  top: 170px;
}
.ashadow .tcard#s06 {
  left: 540px;
  top: 370px;
}
.ashadow .tcard#s07 {
  left: 450px;
  top: 470px;
}
.ashadow .tcard#s08 {
  left: 360px;
  top: 540px;
}
.ashadow .tcard#s09 {
  left: 270px;
  top: 540px;
}
.ashadow .tcard#s10 {
  left: 185px;
  top: 470px;
}
.ashadow .tcard#s11 {
  left: 95px;
  top: 410px;
}
.ashadow .tcard#s12 {
  left: 95px;
  top: 130px;
}

.btn_filter {
  margin-bottom: 20px;
  color: #C7AB77;
}
.btn_filter input[type=checkbox]:checked + label {
  color: #fff;
  border: none;
  border-bottom: 1px dashed #fff;
}
.btn_filter .axis {
  color: #C7AB77;
  border-radius: 0 !important;
  margin-right: 15px;
  border-bottom: 1px dashed transparent;
}
.btn_filter .axis:hover {
  color: #fff;
  border-bottom: 1px dashed #C7AB77;
}
.btn_filter .btn-check {
  outline: none;
  border: none !important;
}

@media (max-width: 767px) {
  #dainput select, #dainput input {
    font-size: 16px;
  }
  .btn_filter .axis {
    font-size: 14px;
    margin-right: 10px;
  }
  .mscale {
    width: 350px;
    height: 400px;
  }
  .mscale .astar {
    transform: scale(0.5);
    top: 0;
    left: 0;
    margin: -50%;
  }
  .mscale .akarma {
    transform: scale(0.5);
    top: 0;
    left: 0;
    margin: -50%;
  }
  .mscale .ashadow {
    transform: scale(0.5);
    top: 0;
    left: 0;
    margin: -50%;
  }
}/*# sourceMappingURL=styles.css.map */